= content_for :css do 
  = stylesheet_link_tag "messages/index", :media => "all"
= content_for :js do
  = javascript_include_tag "messages/index", "users/create"
.contents
  .left-content
    - @railways.each_with_index do |railway, n|
      .railway
        -if n == 0
          .railway__name__length
            ="路線数#{@railways.length}"
        -else
          .railway__name__none
        .railway__name
          =railway.name
          .railway__list
            -if @stations[n][0].id== @station.id
              .railway__list__line-1
              //i=1が存在するときの場合わけはのちほど考えることにする
            -if @stations[n].length > 1
              -if @stations[n][1].id== @station.id
                .railway__list__line-2
            -for i in 0..@stations[n].length-1
              .railway__list__line
                / 始発駅でない限りレールを表示する
                -if @stations[n][i].id != @first_last_station[n][:first].id
                  ‡
                  / 山手線大崎駅でもレールを表示する
                -if @stations[n][i].name =="大崎" && railway.odptrailway == "odpt.Railway:JR-East.Yamanote"
                  ‡
              -if @stations[n][i].id== @station.id
                .railway__list__box-1
                  =link_to @stations[n][i].name, station_messages_path(station_id: @stations[n][i].id), class: "message_station", method: 'GET'
                .railway__list__line
                  / 終着駅でない限りレールを表示する
                  -if @stations[n][i].id != @first_last_station[n][:last].id
                    ‡
                    / 山手線品川駅でもレールを表示する
                  -if @stations[n][i].name =="品川" && railway.odptrailway == "odpt.Railway:JR-East.Yamanote"
                    ‡
              -else
                .railway__list__box
                  =link_to @stations[n][i].name, station_messages_path(station_id: @stations[n][i].id), class: "message_station", method: 'GET'
                .railway__list__line
                  / 終着駅でない限りレールを表示する
                  -if @stations[n][i].id != @first_last_station[n][:last].id
                    ‡
                    / 山手線品川駅でもレールを表示する
                  -if @stations[n][i].name =="品川" && railway.odptrailway == "odpt.Railway:JR-East.Yamanote"
                    ‡

            -if @stations[n][@stations[n].length-1].id == @station.id && @stations[n].length == 3
              .railway__list__line-1
            -if (@stations[n][@stations[n].length-2].id == @station.id && @stations[n].length == 4)||(@stations[n][@stations[n].length-2].id == @station.id && @stations[n].length == 3)
              .railway__list__line-2
  .right-content
    .chat-header
      .chat-header__name
        %a.chat-header__station-name
          = "#{@station.name}えき"
          //.chat-header__commmon-name
      .chat-header__btn
        -if current_user.station_id == @station.id
          =fa_icon 'star', class: "chat-header__favorite-btn chat-header__favorite-btn--yes", data: {station_id: @station.id}
        - else
          =fa_icon 'star', class: "chat-header__favorite-btn chat-header__favorite-btn--no", data: {station_id: @station.id}
    .messages
      = render partial: 'message', collection: @messages
    .form
      -# %form.form__box
      -#   %input{type: "text", placeholder: "type a message", class: "form__message"}
      -#   %input{type: "submit", value: "Send", class: "form__button"}
      = form_for [@station, @message], html: {class: 'form__box'} do |f|
        = f.text_field :body, class: 'form__message', placeholder: 'コメントを入力　『#(半角)○○○』と入力すると、#以降が検索できるようになります', value: ''
        = f.submit 'Send', class: 'form__button'