= content_for :css do
  = stylesheet_link_tag "messages/index", :media => "all"
= content_for :js do
  = javascript_include_tag "messages/index", "users/create"
.contents
  .left-content
    - @railways.each_with_index do |railway, n|
      .railway
        .railway__name
          =railway.name
          .railway__list
            -for i in 0..@stations[n].length-1
              -if @stations[n][i].id== @station.id
                .railway__list__box-1
                  =link_to @stations[n][i].name, station_messages_path(station_id: @stations[n][i].id), class: "message_station", method: 'GET'
              -else
                .railway__list__box
                  =link_to @stations[n][i].name, station_messages_path(station_id: @stations[n][i].id), class: "message_station", method: 'GET'
              .railway__list__line

  .right-content
    .chat-header
      .chat-header__name
        %a.chat-header__station-name
          = @station.name
        .chat-header__commmon-name
          　えきのチャット
      .chat-header__btn
        -if current_user.station_id == @station.id
          =fa_icon 'star', class: "chat-header__favorite-btn chat-header__favorite-btn--yes", data: {station_id: @station.id}
        - else
          =fa_icon 'star', class: "chat-header__favorite-btn chat-header__favorite-btn--no", data: {station_id: @station.id}
    .messages
      = render partial: 'message', collection: @messages
    .form
      -# %form.form__box
      -#   %input{type: "text", placeholder: "type a message", class: "form__message"}
      -#   %input{type: "submit", value: "Send", class: "form__button"}
      = form_for [@station, @message], html: {class: 'form__box'} do |f|
        = f.text_field :body, class: 'form__message', placeholder: 'type a message', value: ''
        = f.submit 'Send', class: 'form__button'