= content_for :css do
  = stylesheet_link_tag "stations/show"
= content_for :gmap do
  = google_maps_api_script_tag
= content_for :js do
  = javascript_include_tag 'stations/show'
.contents
  .left-content
    %h1 地図
    .map
  .right-content
    %h2 あなたの行き先
    = hidden_field_tag :destination, @destination[:destination], class: "destination"
    .result__where
    %h3 行き先の最寄駅
    .result__station
