= content_for :css do
  = stylesheet_link_tag "stations/show"
= content_for :gmap do
  = google_maps_api_script_tag
= content_for :js do
  = javascript_include_tag 'stations/show','railways/index'
.contents
  .left-content
    %h1 地図
    .map
    .spot-info
      %details{open: ""}
        %summary.summary-top クリック
        .detail
          .detail1
            phote
            .detail-phote
          .detail2
            web site
            .detail-site
          .detail3
            open time
            .detail-time
          -# .detail4
          -#   price
          -#   .detail-price

  .right-content
    %h2 あなたの行き先
    = hidden_field_tag :destination, @destination[:destination], class: "destination"
    .result__where
    .form__search
      = form_tag(station_path(0), method: 'get') do
        = text_field_tag 'destination', '', class: 'form__search__message', placeholder: "他に行きたいところは？"
        = submit_tag 'GO!', class: 'form__search__message--go', disabled: true
    %h3 周辺えきの情報を知る！掲示板にGO
    .result__station
    .result__station__view
      