= content_for :css do
  = stylesheet_link_tag "railways/index"
= content_for :gmap do
  = google_maps_api_script_tag
= content_for :js do
  = javascript_include_tag 'railways/index'
.notifications
  - flash.each do |key, value|
    = content_tag(:div, value, class: key)
.contents
  .left-content
    %h5 行きたいところ
    .form__search
      = form_tag(station_path(0), method: 'get') do
        = text_field_tag 'destination', '', class: 'form__search__message', placeholder: "Where do you go?"#stationではない 空白をつくることでボックス内に文字記載 -> コントローラでparams[:destination]で受け取れるようにしたよ by nakamura
        = submit_tag 'GO!', class: 'form__search__message--go'
        
  .right-content
    %h6 チャット
    .form__chat
      = form_for :current_user, url: station_messages_path(10),html: {method: 'GET'} do |f| # ()の中は相談@stationsになる予定 -> フォームの中の文字を渡すだけで駅のidは不要だから(0)のままでいいよ by nakamura
        = f.text_field :name,class: 'form__search__chat', placeholder: 'Choose a station'
        = f.submit 'GO!', class: 'form__search__chat--go'
    =link_to '編集画面をみる', " /users/:0/edit", method: :GET
    =link_to '地図検索画面をみる', "/stations/:0", method: :GET
    =link_to 'Chat画面をみる', "/stations/0/messages", method: :GET
