= content_for :css do
  = stylesheet_link_tag "railways/index"
= content_for :gmap do
  = google_maps_api_script_tag
= content_for :js do
  = javascript_include_tag 'railways/index','stations/index'
.notifications
  - flash.each do |key, value|
    = content_tag(:div, value, class: key)
.contents
  .left_content
    = render "partials/left_content"
  .right-content
    .form__search
      = form_tag(station_path(0), method: 'get') do
        = text_field_tag 'destination', '', class: 'form__search__message', placeholder: "どこに行く？行きたい場所を検索してね"
        = submit_tag 'GO!', class: 'form__search__message--go', disabled: true
      .description__word
      =link_to "http://localhost:3000/stations/0?utf8=%E2%9C%93&destination=%E6%9D%B1%E4%BA%AC%E3%82%BF%E3%83%AF%E3%83%BC&commit=GO%21", class: "description1" do
        東京タワー
      =link_to "http://localhost:3000/stations/0?utf8=%E2%9C%93&destination=%E6%9D%B1%E4%BA%AC%E5%A4%A7%E5%AD%A6&commit=GO%21", class: "description2" do
        東京大学
      = link_to "http://localhost:3000/stations/0?utf8=%E2%9C%93&destination=JR%E6%9D%B1%E6%97%A5%E6%9C%AC&commit=GO%21",class: "description3" do
        JR東日本　本社
    .form__arrow
      ↪︎
    .form__chat
      = form_for :current_user, url: station_messages_path(0), html: {class: 'station-input-form', method: 'GET'} do |f| # ()の中は相談@stationsになる予定 -> フォームの中の文字を渡すだけで駅のidは不要だから(0)のままでいいよ by nakamura
        .station-textfield
          = f.text_field :name,class: 'station-textfield__textfield', placeholder: 'えき名を検索してね'
          .station-list
        .station-submit
          = f.submit 'GO!', class: 'station-submit__submitbtn', disabled: true
    .form__description
      行きたいえきはわかっている？
    
