!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SearchatTokyo
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = yield :gmap
    = javascript_include_tag 'application', media: 'all'
    = yield :css
    = yield :js

  %body
    - if user_signed_in?
    = stylesheet_link_tag  "shared/header"
      .header
        .username
          = current_user.name
        .userpoint
          
        %ul.mystation
          %a.btn__station-btn{:href => "/stations/#{current_user.station_id}/messages"}my station
          %li.mystation__body
            = current_user.station.name
          
        .btn
          %a.btn__edit-btn{:href => "/users/#{current_user.id}/edit"} Edit
          %a.btn__top-btn{:href => "/"} TOP
          =link_to "UPDATE", "/railways/0", class: "btn__update-btn", method: 'PATCH' # ここだけHTTPメソッドをPATCHに指定する必要があったので、aタグからlink_toに変更しました by nakamura
    = yield
